/******  Fonts ***************************
      Use Google Fonts
font-family: "Barrio", system-ui;
font-family: "Nosifer", sans-serif;
font-family: "Butcherman", system-ui;
font-family: "Rubik Wet Paint", system-ui;
font-family: "Amatic SC", sans-serif;
******************* End Fonts ***********/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barrio&family=Butcherman&family=Nosifer&family=Rubik+Wet+Paint&display=swap');
/******  Color Palette *******************
      Use coolors.co
3c596c - Dark Blue 1
42596a - Dark Blue 2
577a8e - Light Blue
0e0d0a - Almost Black
fbbf31 - Yellow/orange
BF3100 - blood
*************** End Color Palette *******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Amatic SC", sans-serif;
    background-image: linear-gradient(to bottom right, #3c596c, #42596aba);
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    color: #0e0d0a;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
    color: #BF3100;
    font-family: "Nosifer", sans-serif;
}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #42596a;
    font-size: 1.3em;
    font-family: "Barrio", system-ui;
}

.main-nav a:hover {
    color: #FF9505;
}

.logo a {
    color: #BF3100;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #FF9505;
    background-color: #fbbf31;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    z-index: 100;
}

#hero {
    background-image: url(../img/2151827517.jpg);
    background-repeat:no-repeat;
    background-size: cover;  
    background-position-y: bottom;
    min-height: 300px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    color: #BF3100;
    font-size: 1.8rem;
    text-shadow: 2px 2px 6px #fff;
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

/****** Add Heading inside a flexbox *******/

/*------- Responsive Images  -------------*/
img {
    width: 100%;
}

/*------ Tablet Media Query---------------*/
@media screen and (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    #hero {
        min-height: 500px;
    }

    .hero h2 {
        font-size: 2.1rem;
    }

}
/*---------- End of Tablet Media Query ---------*/


/*-------- Desktop Media Query -----------------*/
@media screen and (min-width: 1025px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero h2 {
        font-size: 4rem;
        text-align: center;
    }

    #hero {
        min-height: 800px;
    }

}
/*--------End Desktop Media Query --------------*/

/*-------- Large Display Media Query -----------------*/
@media screen and (min-width: 1850px) {

    .header {
        flex-direction: row;
        justify-content: space-between; 
    }

}
/*--------End Large Display Media Query --------------*/