/******  Fonts ***************************
      Use Google Fonts
font-family: "Barrio", system-ui;
font-family: "Nosifer", sans-serif;
font-family: "Butcherman", system-ui;
font-family: "Rubik Wet Paint", system-ui;
font-family: "Amatic SC", sans-serif;
******************* End Fonts ***********/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barrio&family=Butcherman&family=Nosifer&family=Rubik+Wet+Paint&display=swap');
/******  Color Palette *******************
      Use coolors.co
3c596c - Dark Blue 1
42596a - Dark Blue 2
577a8e - Light Blue
0e0d0a - Almost Black
fbbf31 - Yellow/orange
BF3100 - blood
*************** End Color Palette *******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Amatic SC", sans-serif;
    /* background-image: linear-gradient(to bottom right, #3c596c, #42596aba); */
    height: 100vh;
    font-size: 2em;
    background-image: url(../img/2151827517.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;  
    background-position-y: bottom;
}

ul {
    list-style: none;
}

a {
    color: #0e0d0a;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1em;
    color: #BF3100;
    font-family: "Nosifer", sans-serif;
}

.main-nav {
    display:none;
    margin-top: 5px;
}

/* .main-nav {
    display: block;
} */

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #42596a;
    font-size: 1.3em;
    font-family: "Barrio", system-ui;
}

.main-nav a:hover {
    color: #FF9505;
}

.logo a {
    color: #BF3100;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #BF3100;
    background-color: #fbbf31cc;
    box-shadow: 0px 0px 150px 0px rgba(173, 62, 37, 1);
    border-radius: 0 0 20px 20px;
    z-index: 100;
}

#hero {
    min-height: 300px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    margin-top: 20%;
    color: #BF3100;
    font-size: 2.3rem;
    text-shadow: 2px 2px 6px #fff;
    font-family: "Nosifer", sans-serif;
    text-align: center;
}

.hero cite {
    color: white;
    margin: 1%;
}


.two, .five {
    padding: 10%;
}


.text_box {
    font-family: "Amatic SC", sans-serif;
    margin-bottom: 1.2em;
}

/*------- Responsive Images  -------------*/
img {
    width: 100%;
}

/*==========================================
        CSS GRID RULES
===========================================*/
.container {
    display: grid;
}

.one {
    min-height: 250px;
    
    /* background-image: url(../img/2151827618.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 10%;
    color:#fbbf31;
}

.text_box h2,
.text_box p {
    margin-bottom: 1.2em;
    text-align: center;
}


.text_box h2 {
    font-family: "Butcherman", system-ui;
    color:#BF3100;
}


.text_box {
    display: flex;
    flex-direction: column;
    background-color: #3c596ccd;
    padding: 2%;
    border-radius: 2em 2em 0 2em;
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,0.75);
}

.block_one img,
.block_five img,
.text_box img {
    width: 25%;
}

.fltRight {
    float: right;
    margin: 0 0 15px 20px;
        /*  T R  B    L */
        /*  T RouB    Le */
}

.fltLeft {
    float: left;
    margin: 0 20px 15px 0;
}

.two {
    clear: all;
    min-height: 250px;
    background-color:#fbbf31cc;
}

.two img {
    width: 20%;
}

.three {
    min-height: 450px;
    background-image: url(../img/2151827498.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    border-top: 5px solid #BF3100;
    border-bottom: 5px solid #FF9505;
}

.four {
    min-height: 250px;
    background-image: url(../img/octoberMoon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: -100px;
    border-top: 5px solid #FF9505;
    border-bottom: 5px solid #BF3100;
}

.block_four {
    color: white;
    /* background-color:#FF950523; */
    display: inline-block;
    padding: 1%;
    font-size: .8em;
}

.block_four a {
    color: #fbbf31;
}

.block_four a:hover {
    color:#fff;
    text-decoration: underline;
}

.block_four {
    color: white;
    /* background-color:#FF950523; */
    display: inline-block;
    padding: 1%;
    font-size: .8em;
}

.block_four a {
    color: #fbbf31;
}

.block_four a:hover {
    color:#fff;
    text-decoration: underline;
}

.five {
    min-height: 250px;
    background-color: #3c596caa;
    color: #fff;
}

.poem {
    text-align: center;
    /* font-size: 1.5em; */
    font-size: .5em;
    font-weight: bolder;
}

.poem h2 {
    margin-bottom: 0;
    font-size: 2.5em;
    color:#BF3100;
} 

footer {
    margin-top: 0;
    background-color: #FF9505aa;
    border-bottom: 1px solid #BF3100;
    box-shadow: 150px 0px 0px 0px rgba(173, 62, 37, 1);
    color: #0e0d0a;
    min-height: 300px;
    padding: 3%;
    z-index: 200;
}

footer .copy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    align-items: center;
}

.copy p {
    font-size: .8em;
}

.copy img {
    width: 75px;
}

/* Remove Later
.six {
    min-height: 450px;
    background-image: url(../img/2151827618.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
}

.seven {
    min-height: 250px;
    background-color:#BF3100;
} */


/*+++++++++++++++++++++++++++++++++++++++++
     Tablet Media Query
+++++++++++++++++++++++++++---------------*/
@media screen and (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

    #hero {
        margin-top: 10%;
        min-height: 500px;
    }

    .hero h2 {
        font-size: 2.1rem;
    }
    
    .poem {
        font-size: .6em;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
    }

    .one {
        grid-column: 1 / 3;
    }
    
    .text_box h2 {
        font-size: 2.em;
    }

    .two {
        grid-column: 1/3;
    }

    .three {
        grid-column: 1/3;
    }

    .four {
        grid-column: 1/3;
        min-height: 350px;
    }

    .five {
        grid-column: 1/3;
    }

    /* Remove Later */
    /* .six {
        grid-column: 1/2;
    }

    .seven {
        grid-column: 2/3;
    } */

    .copy p {
        font-size: 1em;
    }
    
    .copy img {
        width: 150px;
    }

}
/*---------- End of Tablet Media Query ---------*/


/*-------- Desktop Media Query -----------------*/
@media screen and (min-width: 1025px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        font-size: .68em;
    }

    .hero h2 {
        font-size: 4rem;
        text-align: center;
    }

    #hero {
        min-height: 800px;
    }
    
    .poem {
        font-size: .6em;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .one {
        grid-column: 1 / 4;
    }

    .text_box p {
        font-size: 1.8em;
    }
    
    .text_box h2 {
        font-size: 3em;
    }

    .two {
        grid-column: 1 / 4;
    }

    .three {
        grid-column: 1 / 4;
        min-height: 550px;
    }

    .four {
        grid-column: 1 / 4;
        min-height: 550px;
    }

    .five {
        grid-column: 1 / 4;
    }

    /* Remove Later */
    /* .six {
        grid-column: 1 / 2;
    }

    .seven {
        grid-column: 2 / 4;
    } */

    .copy p {
        font-size: 1.2em;
    }
    
    .copy img {
        width: 250px;
    }

}
/*--------End Desktop Media Query --------------*/

/*-------- Larger Display Media Query -----------------*/
@media screen and (min-width: 1150px) {


    .logo {
        font-size: 1em;
    }

    .header {
        flex-direction: row;
        justify-content: space-between; 
    }
    
    .copy p {
        font-size: 2em;
    }

}
/*--------End Large Display Media Query --------------*/

