/******  Fonts ***************************
      Use Google Fonts
******************* End Fonts ***********/

/******  Color Palette *******************
      Use coolors.co
*************** End Color Palette *******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(to bottom right, #1c0125, #1c0125ba);
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
    color: #fff;

}

.main-nav {
    margin-top: 5px;
}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.main-nav a {
    color: #96E194;
    font-size: .99em;
}

.main-nav a:hover {
    color: #FF9505;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #FF9505;
    background-color: #FF950588;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

/*------- Responsive Images  -------------*/
img {
    width: 100%;
}

/*------ Tablet Media Query---------------*/
@media screen and (min-width: 769px) {

    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

}
/*---------- End of Tablet Media Query ---------*/


/*-------- Desktop Media Query -----------------*/
@media screen and (min-width: 1025px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

}
/*--------End Desktop Media Query --------------*/

/*-------- Large Display Media Query -----------------*/
@media screen and (min-width: 1850px) {

    .header {
        flex-direction: row;
        justify-content: space-between; 
    }

}
/*--------End Large Display Media Query --------------*/